<h1>Edit your Note</h1>

<form method="post" action="/notes/<%= @note.id %>">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <label for="Title">Title</label> <br>
    <input type="text" id="title" name="note[title]" value="<%= @note.title %>" required>
    <br>

    <label for="satisfaction rating">Satisfaction</label> <br>
    <input type="range" min="0" max="10" id="satisfaction rating" name="note[satisfaction_rating]" value="<%= @note.satisfaction_rating %>"required>
    <br>

    <label for="difficulty">Difficulty</label> <br>
    <input type="range" min="0" max="10" id="difficulty" name="note[difficulty]" value="<%= @note.difficulty %>"required>
    <br>

    <label for="content">Additional Details about your achievement</label> <br>
    <textarea type="text" id="content" name="note[content]" style="height:20vh; width:100%;"><%= @note.content %></textarea>
    <br>

    <!-- I'm taking out the ability to change the completion date because I can't get it to default to the orignial datetime.
    Rather than having to remember and re-input the date everytime, I decided it's more useable if date can't change.

    I mean, realistically you can't change a date anyway.

    <label for="completion date">When was this completed?</label> <br>
    <input type="datetime-local" id="completion date" name="note[completion_date]" value="<%= @note.completion_date %>" required>
    <br>
    -->
    


    <input type="submit" id="sign up" value="Make a note of it!">

</form>