<h1>Edit your NoteWorthy account!</h1>

<form method="post" action="/users/<%= @user.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label for="first name">First Name</label> 
    <input type="text" id="first name" name="user[first_name]" value="<%= @user.first_name %>">
    <br>

    <label for="last name">Last Name</label> 
    <input type="text" id="last name" name="user[last_name]" value="<%= @user.last_name %>">
    <br>

    <label for="age">Age</label> 
    <input type="number" id="age" name="user[age]" value="<%= @user.age %>">
    <br>

    <label for="location">Location</label> 
    <input type="text" id="location" name="user[location]" value="<%= @user.location %>">
    <br>

    <label for="email">Change your email</label> 
    <input type="email" id="email" name="user[email]" value="<%= @user.email %>">
    <br>

    <h3> You must enter or change your password, to save your changes.</h3>
    <label for="password">Choose a new password</label>
    <input type="password" id="password" name="user[password]" value="<%= @user.password %>" required>
    <br>

    <label for="password confirmation">Confirm new password</label>
    <input type="password" id="password confirmation" name="password_confirmation" value="<%= @user.password %>" required>
    <br>

    


    <input type="submit" id="sign up" value="Update">

</form>

<a href="/users/<%= @user.id %>/delete">Delete this account </a>