<h1> Welcome <%= @user.fullname %>! </h1> <br>

<h2> Here are your recent accomplishments! </h2> <br>

<% @user.recent_notes.each do |note| %>

    <div class="note-container" id="<%= note.id %>-container">
        <a href="/notes/ <%= note.id %>" >
            <h4> <%= note.title %> </h4>
        </a>

        <h5>Completed on: <%= note.completion_date.strftime("%B %-d, %Y at %l:%M%P") %></h5>
        <h5> Diffculty Rating: <%= note.difficulty ||= "?" %>/100 </h5> 
        <h5> Satisfaction Rating: <%= note.satisfaction_rating  ||= "?"  %>/100 </h5> 

    </div>
<br>

<% end %>

<h3> <a href="/notes">View all your notes</a> </h3>

<h2> Your Greatest Achievement So Far! </h2> <br>

    <div class="note-container" id="gretest-achievement--container">
        <a href="/notes/ <%= @user.greatest_note.id %>" >
            <h4> <%= @user.greatest_note.title %> </h4>
        </a>

        <h5>Completed on: <%= @user.greatest_note.completion_date.strftime("%B %-d, %Y at %l:%M%P") %></h5>
        <h5> Diffculty Rating: <%= @user.greatest_note.difficulty ||= "?" %>/100 </h5> 
        <h5> Satisfaction Rating: <%= @user.greatest_note.satisfaction_rating  ||= "?"  %>/100 </h5> 

    </div>

    <br>

<h2> Your Most Difficult Achievement So Far! </h2> <br>

    <div class="note-container" id="difficult-achievement--container">
        <a href="/notes/ <%= @user.most_difficult.id %>" >
            <h4> <%= @user.most_difficult.title %> </h4>
        </a>

        <h5>Completed on: <%= @user.most_difficult.completion_date.strftime("%B %-d, %Y at %l:%M%P") %></h5>
        <h5> Diffculty Rating: <%= @user.most_difficult.difficulty ||= "?" %>/100 </h5> 
        <h5> Satisfaction Rating: <%= @user.most_difficult.satisfaction_rating  ||= "?"  %>/100 </h5> 

    </div>

    <br>

<h2> Your Most Satisfying Achievement So Far! </h2> <br>

    <div class="note-container" id="satisfying-achievement--container">
        <a href="/notes/ <%= @user.most_satisfying.id %>" >
            <h4> <%= @user.most_satisfying.title %> </h4>
        </a>

        <h5>Completed on: <%= @user.most_satisfying.completion_date.strftime("%B %-d, %Y at %l:%M%P") %></h5>
        <h5> Diffculty Rating: <%= @user.most_satisfying.difficulty ||= "?" %>/100 </h5> 
        <h5> Satisfaction Rating: <%= @user.most_satisfying.satisfaction_rating  ||= "?"  %>/100 </h5> 

    </div>

    <br>

<form method="get" action="/notes/new" id="new note button">
    <input type="submit" id="submit" value="Note A New Achievement">
</form>
